<ion-icon name="close-circle-sharp" (click)="back()"></ion-icon>
<div class="ctn-lista-mesas">
  <div class="lista-mesas">
    <div class="mesas {{mesa.ocupada}}" *ngFor="let mesa of this.mesas">{{mesa.numero}}</div>
  </div>

  <div class="btn-asignar-mesa" (click)="actualizarLista()">
    <span>Actualizar</span>
  </div>
</div>

<div id="modal-error-mesa" class="modal-error"> 
  <div class="modal-error-img">
    <img src="../../../../assets/img/banana-podrida.gif" alt="">
  </div>
  <div class="modal-error-text">
    <p id="modal-error-mesa-text-p"></p>
  </div>    
</div>